# Python / Django
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.sqlite3
*.log
.env
.venv/
venv/
env/

# Django
media/
staticfiles/
*.pot
*.pyc

# IDE / OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# Frontend
node_modules/
build/
dist/
